# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Dependencies
node_modules/

# Production build
build/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Debugging
npm-debug.log*
yarn-debug.log*
yarn-error.log*
